<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <title>HTSIT playground</title>
    <script src="https://htsit.se/c/node_modules/codemirror/lib/codemirror.js"></script>
    <link rel="stylesheet" href="https://htsit.se/c/node_modules/codemirror/lib/codemirror.css" />
    <script src="https://htsit.se/c/node_modules/codemirror/mode/javascript/javascript.js"></script>
    <script src="https://htsit.se/c/playground/js/exercise-editor.js?{{version}}"></script>
    <script src="https://htsit.se/c/playground/config.js?{{version}}"></script>
    <link rel="stylesheet" href="https://htsit.se/c/playground/css/simple.css?{{version}}" />
    <script>
      window.onload = createEditor;
    </script>
  </head>
  <body>
    <h1 id="welcome">Välkommen!</h1>
    <div id="main">
      <div id="levels" class="options" >
        <select id="level" onchange="createOptionForLevel(this)">
          <option id="level-my" value="my">my</option>
          <option id="level-veryEasy" value="veryEasy">very easy</option>
          <option id="level-easy" value="easy">easy</option>
          <option id="level-normal" value="normal">normal</option>
          <option id="level-hard" value="hard">hard</option>
          <option id="level-veryHard" value="veryHard">very hard</option>
          <option id="level-extreme" value="extreme">extreme</option>
        </select>
        <select id="number" class="number"></select>
        <button id="load" class="load" onclick="load()">Load</button>
      </div>
      <div id="solutions" style="display:none">
        <p>Det finns följande lösningar till uppgiften:</p>
        <select id="solution-lang" onchange="createOptionForSolution(this)">
          <option id="solution-java" value="java">java</option>
          <option id="solution-md" value="md">psedo kod</option>
          <option id="solution-cs" value="cs">cs</option>
          <option id="solution-js" value="js">js</option>
        </select>
        <select id="solution-by" class="number"></select>
        <button id="load-solution" class="load" onclick="loadSolution()">Load</button>
      </div>
      <div id="information" class="container">
        <div>
          <strong>Av:</strong>
          <div id="by">dig</div>
        </div>
        <div>
          <strong>Kategori:</strong>
          <div id="category">ingen</div>
        </div>
        <div id="solution-info" style="display:none">
          <strong>Lösning av:</strong>
          <div id="solution-by-alias">dig</div>
        </div>
      </div>

      <div id="exercise-container" class="container">
        <h2 id="exercise-title">Uppgift</h2>
        <p id="exercise">Vad är detta?</p>
      </div>

      <div id="editor-container" class="container">
        <h3 id="editor-title">Editor</h3>
        <textarea id="editor"></textarea>
        <div id="buttons">
          <button id="run" onclick="runJS()">Kör</button
          ><button id="testing" onclick="testAll()">Testa</button>
        </div>
      </div>

      <div id="selection-container" class="container">
        <div id="selection">
          <button id="add-Dataset" onclick="addDataset()">+</button>
          <button id="selection-0" onclick="changeDataset(0);">0</button>
        </div>
        <div id="inout" class="container">
          <h3 id="input-title">Input</h3>
          <textarea id="in" class="io-test"></textarea>
          <h3 id="output-title">Output</h3>
          <textarea id="out" class="io-test"></textarea>
          <h3 id="test-title">Test</h3>
          <textarea id="test" class="io-test"></textarea>
        </div>
      </div>
    </div>
    <sup id="footnote">
      <h3>© 2015-2020 Magnus Kronnäs </h3>
      <p>Det finns {{number_of_exercises}} uppgifter, {{number_of_solutions_uniq}}
      av dem har lösningar. </p>
      <p>Totalt finns det {{number_of_solutions}} lösningar.</p>
    </sup>
  </body>
</html>
