/* 
 * An simple CSS 
 * 
 * by: krm
 */

/* Headlines */

#welcome {

}

#exercise-title {

}

#editor-title {

}

/* Texts */

#exercise {

}

/* Input text */

#editor {

}

.io-test {

}

#in {

}

#out {

}

#test {

}

/* Containers for layout */

#main {

}

#container {

}

.options {

}

#levels {

}

#selections {

}

#information {

}

#exercise-container {

}

#editor-container {

}

#selection-container {

}

#selection {

}

#input-container {

}

#buttons {

}


#alias-submit {

}

/* Effects for selected buttons */

.succeed {
    background-color: #4CAF50;
}

.fail {
    background-color: #f44336;;
}


.selected {
   border: 1px solid #0000ff;
}
